*.pyc 
*.directory
*.pdf
*.so
*.c
/samples/
/docs/_build/
/file_loader.pyc
/segmentation.pyc
/ToyModel3d.pyc
/slice_mask.pyc
/contour_detection.py
/fem.pyc
/Qt_window.pyc
*.vtk
*.xml
.idea/.name
.idea/Proyecto-de-Grado-Codes.iml
matriz_u.txt
busy_widget.py
/build/
laplacian.pyd
*.pyc
laplacian.html
